@import url(styles/header.css);
@import url(styles/sobre-nos.css);
@import url(styles/metricas.css);
@import url(styles/vagas.css);

:root{
    --fonte-principal: "Inter";
    --cinza-escuro:#3A404E;
    --cinza-claro:#667085;
    --vermelho-escuro:#8E2424;
    --branco: #FFFFFF;
    --preto: #101828;
}

body{
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}